@page "/"

<PageTitle>Moment dt191g | Moment 1:3</PageTitle>

<h1>Moment 1:3</h1>

<p>
    I denna uppgift ska jag skapa en webbplats med Blazor WebAssembly.

    Webbplatsen ska skapas med egen HTML och CSS, och all interaktion/dynamisk programmering ska göras med C#-kod.

    Design på webbplatsen ska vara egen-skapad och ej bygga på den template som skapas automatiskt.
</p>

<h2>Webbplatsen ska innehålla följande undersidor:</h2>

<ul>
    <li>Startsida med valfri information</li>
    <li>Konvertering - undersida med funktionalitet att utföra följande saker:</li>
    <ul>
        <li>Konvertera meter till fot (feet) - matas exempelvis 2 in för antal meter, ska resultatet visa 6,6 fot.</li>
        <li>Konvertera km/h till miles/hour - matas exempelvis 100 in för km/h, ska resultatet visa 62 miles/hour.</li>
    </ul>
    <li>
        JSON - undersida som använder HttpClient för att läsa in data i JSON-format och skriver ut det till skärmen på lämpligt sätt.
        Jag väljer själv om jag vill läsa in en JSON-fil som finns i själva projektet, eller läsa in något externt - som exempelvis en REST-webbtjänst.
    </li>
</ul>
<p>
    Vidare ska webbplatsen innehålla minst en "component" med fristående innehåll.
    Innehållet är valfritt, kan vara statisk information eller något dynamiskt.
</p>
<Footer />



